@model IEnumerable<FoogBlogBD.Models.UserPostCommentModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>FoodBlogBD</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="~/Contents/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Contents/animate.min.css" rel="stylesheet" />
    <link href="~/Contents/style.css" rel="stylesheet" />
    <link href="~/Contents/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Contents/magnific-popup.css" rel="stylesheet" />
    <link href="~/Contents/hover-min.css" rel="stylesheet" />
    <link href="~/Contents/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Contents/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/flexslider.css" rel="stylesheet" />
    <link href="~/Contents/default.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap-datepicker.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>

    <style>
        label {
            font-family: 'Alice';
            font-size: 22px;
        }
        .thumbnail {
            padding: 0px;
        }

        .panel {
            position: relative;
        }

            .panel > .panel-heading:after, .panel > .panel-heading:before {
                position: absolute;
                top: 11px;
                left: -16px;
                right: 100%;
                width: 0;
                height: 0;
                display: block;
                content: " ";
                border-color: transparent;
                border-style: solid solid outset;
                pointer-events: none;
            }

            .panel > .panel-heading:after {
                border-width: 7px;
                border-right-color: #f7f7f7;
                margin-top: 1px;
                margin-left: 2px;
            }

            .panel > .panel-heading:before {
                border-right-color: #ddd;
                border-width: 8px;
            }
    </style>

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="/Home/Index/" class="navbar-brand">FoodBlogBD</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/Home/Index/" class="smoothScroll">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Food Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/foodCategory/Index/1">Fast Food</a></li>
                            <li><a href="/foodCategory/Index/2">Indian</a></li>
                            <li><a href="/foodCategory/Index/3">Chinese</a></li>
                            <li><a href="/foodCategory/Index/4">Bangladeshi</a></li>
                            <li><a href="/foodCategory/Index/5">Biryani</a></li>
                            <li><a href="/foodCategory/Index/6">Cafe</a></li>
                            <li><a href="/foodCategory/Index/8">Lunch Item</a></li>
                        </ul>
                    </li>
                    <li><a href="/Restaurant/ShowAllRestaurants/" class="smoothScroll">All Restaurants</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Popular Spots
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Restaurant/showRestaurantByArea/4">Banani</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/9">Dhanmondi</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/13">Gulshan</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/20">Khilgaon</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/22">Mirpur</a></li>
                        </ul>
                    </li>
                    <li><a href="/BlogHome/Index/" class="smoothScroll">Blog</a></li>
                </ul>
                @if (ViewBag.logged == true)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/User/Index/"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li>
            <a href="/UserAuthentication/LogOut/"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
        </li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" onclick="document.getElementById('id01').style.display = 'block'"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
    </ul>
}
            </div>

            <div id="id01" class="modal">

                <form class="modal-content animate" action="">
                    <div class="container">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <img src="~/images/logIN_avatar.png" alt="Avatar" class="avatar" style="width:200px; height:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="form-signin">
                                    <h2 class="form-signin-heading"></h2>
                                    <label for="inputEmail" class="sr-only">User Name</label>
                                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="User Name" required autofocus>
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required><br />
                                    <div class="checkbox">
                                        <strong>@ViewBag.ErrorMsg</strong>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <label>
                                    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Press <strong>
                                        <a href="/UserProfile/Create"> <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign Up</a>
                                    </strong> to Create an Account.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                @using (Html.BeginForm("search", "BlogSearch"))
                {
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" id="searchTxtIdUser" name="nameSearch" class="form-control" placeholder="Search" required />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info" name="serachBtn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="container" id="posts">
        <div class="row">
            <div class="col-md-10">
                <div class="page-header">
                    <h1><b>@ViewBag.postHead</b></h1>
                    <b>By</b> <a href="/UserInfo/UserDetails/@ViewBag.userID"><label style="color:#771deb">@ViewBag.userName</label></a>
                    <hr />
                    <p>Posted on @ViewBag.date</p>
                    <img class="img-rounded" src="@Url.Content(ViewBag.postPic)" width="700" height="400"/> <hr />
                    <P> @ViewBag.postCont</P>
                    <hr />
                    @if (ViewBag.logged == true)
                    {
                        <div class="container">
                            <div class="row">
                                @using (Html.BeginForm("newComment", "UserBlogPost"))
                                {
                                    <div class="form-group">
                                        <table class="table table-striped" style="width:60%">
                                            <thead>
                                                <tr>
                                                    <th colspan="2" align="center">
                                                        <i class="fa fa-comment-o fa-2x" aria-hidden="true">Leave a Comment:</i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name="postId" value="@ViewBag.postId" />
                                                        <input type="hidden" name="userId" value="@ViewBag.userID"/>
                                                        <textarea class="form-control" name="commentContent" rows="8" required></textarea>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right" colspan="2">
                                                        <input type="submit" class="btn btn-default" name="commentName" value="Submit" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                }             
                            </div>  
                        </div>
                    }                    
                    <div class="col-md-9">
                        @foreach(var item in Model)
                        {
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1">
                                        <div class="thumbnail">
                                            <img class="img-responsive user-photo" src="@Url.Content(item.userProPic)">
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong><a href="/User/OtherUsersProfile/@item.userId">@Html.DisplayFor(modelItem => item.userName)</a>
                                                </strong> <span class="text-muted">commented on @Html.DisplayFor(modelItem => item.commentDate)</span>
                                            </div>
                                            <div class="panel-body">
                                                <p>@Html.DisplayFor(modelItem => item.CommentContent)</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>                         
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="copyright">
        <div class="container" style="background-color:#0094ff">
            <div class="row">

                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>Copyright © 2017 FoodBlogBD <br /> Designed by Khan Neamul Haque, Hasan A.K.M Abid, Sohel Shamim Reza </p>
                </div>

                <div class="col-md-4 col-sm-4 text-right">
                    <a href="#top" class="fa fa-angle-up smoothScroll gototop"></a>
                </div>

            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>

    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/imagesloaded.min.js"></script>
    <script src="~/Scripts/nivo-lightbox.min.js"></script>

    <script src="~/Scripts/jquery.flexslider-min.js"></script>

    <script src="~/Scripts/jquery.parallax.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/wow.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/myScript.js"></script>


</body>
</html>


<!--<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostDetails</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
    -->