@model IEnumerable<FoogBlogBD.Models.BlogListModel>

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>

    <title>FoodBlogBD</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="~/Contents/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Contents/animate.min.css" rel="stylesheet" />
    <link href="~/Contents/style.css" rel="stylesheet" />
    <link href="~/Contents/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Contents/magnific-popup.css" rel="stylesheet" />
    <link href="~/Contents/hover-min.css" rel="stylesheet" />
    <link href="~/Contents/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Contents/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/flexslider.css" rel="stylesheet" />
    <link href="~/Contents/default.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap-datepicker.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alice' rel='stylesheet'>

    <style>
        label {
            font-family: 'Alice';
            font-size: 22px;
        }
    </style>

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <div class="preloader">
        <div class="sk-spinner sk-spinner-pulse"></div>
    </div>

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="/Home/Index/" class="navbar-brand">FoodBlogBD</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/Home/Index/" class="smoothScroll">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Food Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/foodCategory/Index/1">Fast Food</a></li>
                            <li><a href="/foodCategory/Index/2">Indian</a></li>
                            <li><a href="/foodCategory/Index/3">Chinese</a></li>
                            <li><a href="/foodCategory/Index/4">Bangladeshi</a></li>
                            <li><a href="/foodCategory/Index/5">Biryani</a></li>
                            <li><a href="/foodCategory/Index/6">Cafe</a></li>
                            <li><a href="/foodCategory/Index/8">Lunch Item</a></li>
                        </ul>
                    </li>
                    <li><a href="/Restaurant/ShowAllRestaurants/" class="smoothScroll">All Restaurants</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Popular Spots
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Restaurant/showRestaurantByArea/4">Banani</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/9">Dhanmondi</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/13">Gulshan</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/20">Khilgaon</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/22">Mirpur</a></li>
                        </ul>
                    </li>
                    <li><a href="/BlogHome/Index/" class="smoothScroll">Blog</a></li>
                </ul>
                @if (ViewBag.logged == true)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/User/Index/"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li>
            <a href="/UserAuthentication/LogOut/"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
        </li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" onclick="document.getElementById('id01').style.display = 'block'"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
    </ul>
}
            </div>

            <div id="id01" class="modal">

                <form class="modal-content animate" action="">
                    <div class="container">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <img src="~/images/logIN_avatar.png" alt="Avatar" class="avatar" style="width:200px; height:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="form-signin">
                                    <h2 class="form-signin-heading"></h2>
                                    <label for="inputEmail" class="sr-only">User Name</label>
                                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="User Name" required autofocus>
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required><br />
                                    <div class="checkbox">
                                        <strong>@ViewBag.ErrorMsg</strong>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <label>
                                    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Press <strong>
                                        <a href="/UserProfile/Create"> <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign Up</a>
                                    </strong> to Create an Account.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                @using (Html.BeginForm("search", "BlogSearch"))
                {
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" id="searchTxtIdUser" name="nameSearch" class="form-control" placeholder="Search" required />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info" name="serachBtn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-offset-3">
                    @using (Html.BeginForm("newPost", "UserBlogPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        if (ViewBag.logged == true)
                        {
                            <div class="form-group">
                                <table class="table table-striped" style="width:60%">
                                    <thead>
                                        <tr>
                                            <th colspan="2" align="center">
                                                <i class="fa fa-plus-circle fa-2x" aria-hidden="true">Write A New Post</i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>Post Headline</b></td>
                                            <td>
                                                <input name="headLineName" type="text" class="input-group" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Post Content</b></td>
                                            <td>
                                                <textarea class="form-control" rows="5" name="bodyName" required></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td><strong>Picture</strong></td>
                                            <td>
                                                <input type="file" class="form-control-file" id="exampleInputFile" name="picture" aria-describedby="fileHelp" accept=".png, .jpg, .jpeg" required />
                                            </td>
                                        </tr>
                                        </tr>
                                        <tr>
                                            <td align="right" colspan="2">
                                                <input type="submit" class="btn btn-success" name="postBtn" value="Post" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>



    <br />

    <div class="container" id="posts">
        <div class="row">
            <div class="col-md-8">
                @foreach (var item in Model)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="col-md-10">
                                    <img src="@item.postPicture" class="img-responsive" width="600" height="800" /><br />
                                    <h3><b style="color:#1f5cdb">@Html.DisplayFor(modelItem => item.postHeadline)</b></h3>
                                    <label>
                                        Posted On @Html.DisplayFor(modelItem => item.postDate) by
                                        <a href="/UserInfo/UserDetails/@item.postGivenUserID">@Html.DisplayFor(modelItem => item.postGivenUserName)</a>
                                    </label><br>
                                    <a href="/BlogHome/PostDetails/@item.postID"><i class="fa fa-eye" aria-hidden="true"></i> View Details</a>
                                </div>
                                <br />
                                <hr />
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>


    <section id="copyright">
        <div class="container" style="background-color:#0094ff">
            <div class="row">

                <div class="col-md-8 col-sm-8 col-xs-8">
                    <p>Copyright © 2017 FoodBlogBD <br /> Designed by Khan Neamul Haque, Hasan A.K.M Abid, Sohel Shamim Reza </p>
                </div>

                <div class="col-md-4 col-sm-4 text-right">
                    <a href="#home" class="fa fa-angle-up smoothScroll gototop"></a>
                </div>

            </div>
        </div>
    </section>


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>

    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/imagesloaded.min.js"></script>
    <script src="~/Scripts/nivo-lightbox.min.js"></script>

    <script src="~/Scripts/jquery.flexslider-min.js"></script>

    <script src="~/Scripts/jquery.parallax.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/wow.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/myScript.js"></script>


</body>
</html>




<!--<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>search</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.postID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postHeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postGivenUserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postGivenUserName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.postID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postHeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postPicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postGivenUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postGivenUserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>-->
