@model FoogBlogBD.Models.allRestaurantInfo

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <title>FoodBlogBD</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="~/Contents/style.css" rel="stylesheet" />
    <link href="~/Contents/default.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/magnific-popup.css" rel="stylesheet" />
    <link href="~/Contents/animate.min.css" rel="stylesheet" />
    <link href="~/Contents/font-awesome.css" rel="stylesheet" />
    <link href="~/Contents/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Contents/hover-min.css" rel="stylesheet" />
    <link href="~/Contents/flexslider.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>

    <style>
        .thumbnail {
            padding: 0px;
        }

        .panel {
            position: relative;
        }

            .panel > .panel-heading:after, .panel > .panel-heading:before {
                position: absolute;
                top: 11px;
                left: -16px;
                right: 100%;
                width: 0;
                height: 0;
                display: block;
                content: " ";
                border-color: transparent;
                border-style: solid solid outset;
                pointer-events: none;
            }

            .panel > .panel-heading:after {
                border-width: 7px;
                border-right-color: #f7f7f7;
                margin-top: 1px;
                margin-left: 2px;
            }

            .panel > .panel-heading:before {
                border-right-color: #ddd;
                border-width: 8px;
            }
    </style>

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="/Home/Index/" class="navbar-brand">FoodBlogBD</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/Home/Index/" class="smoothScroll">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Food Category
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var c in Model.categoryList)
                            {
                                <li><a href="/foodCategory/Index/@c.Id">@Html.DisplayFor(modelItem => c.categoryName)</a></li>
                            }
                        </ul>
                    </li>
                    <li><a href="/Restaurant/ShowAllRestaurants/" class="smoothScroll">All Restaurants</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Popular Spots
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Restaurant/showRestaurantByArea/4">Banani</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/9">Dhanmondi</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/13">Gulshan</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/20">Khilgaon</a></li>
                            <li><a href="/Restaurant/showRestaurantByArea/22">Mirpur</a></li>
                        </ul>
                    </li>
                    <li><a href="/BlogHome/Index/" class="smoothScroll">Blog</a></li>
                </ul>
                @if (ViewBag.logged == true)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/User/Index/"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        <li>
            <a href="/UserAuthentication/LogOut/"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
        </li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#" onclick="document.getElementById('id01').style.display = 'block'"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
    </ul>
}
            </div>

            <div id="id01" class="modal">

                <form class="modal-content animate" action="">
                    <div class="container">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="imgcontainer">
                                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                                    <img src="~/images/logIN_avatar.png" alt="Avatar" class="avatar" style="width:200px; height:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="form-signin">
                                    <h2 class="form-signin-heading"></h2>
                                    <label for="inputEmail" class="sr-only">User Name</label>
                                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="User Name" required autofocus>
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input type="password" id="inputPassword" name="pass" class="form-control" placeholder="Password" required><br />
                                    <div class="checkbox">
                                        <strong>@ViewBag.ErrorMsg</strong>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <label>
                                    &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; Press <strong>
                                        <a href="/UserProfile/Create"> <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Sign Up</a>
                                    </strong> to Create an Account.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                @using (Html.BeginForm("Index", "Search_User"))
                {
                    <div class="input-group">
                        <input type="hidden" name="search_param" value="all" id="search_param">
                        <input type="text" id="searchTxtIdUser" name="nameSearch" class="form-control" placeholder="Search" required />
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-info" name="serachBtn">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <br /><br />

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <img src="@ViewBag.restLogo" class="img-responsive" alt="logo" width="400" height="400">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <h3><strong>Description</strong></h3>
                    <dl>
                        <dd> @ViewBag.details</dd>
                    </dl>
                </div>
                <div class="col-sm-4"></div>
            </div>


            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <h3><strong>Website</strong></h3>
                    <dl>
                        <dd><a href="ViewBag.restWebsite">@ViewBag.restWebsite</a></dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <h3><strong>Contact</strong></h3>
                    <dl>
                        <dd style="color:blue">@ViewBag.restContactNumber</dd>
                    </dl>
                </div>
                <div class="col-sm-3">
                    <h3><strong>Rating</strong></h3>
                    <dl>
                        <dd style="color:blue">@ViewBag.restRating (out of 10)</dd>
                    </dl>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    
                    @using (Html.BeginForm("updateRating", "Restaurant"))
                    {
                        if(ViewBag.logged != null)
                        {
                            <div class="col-sm-3">
                                <input type="hidden" name="restaurant" value="@ViewBag.restID"/>
                                <div class="form-group">
                                    <select class="form-control" id="rateID" name="rateRest">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                            </div>
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-primary" name="rate" value="Rate This Restaurant">
                        </div>
                        }
                        else{
                            <div class="col-md-12"><b><label style="color:#c61818">Login to Rate The Resturants</label></b></div>
                        }
                    
                    }
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#foodItem">Food Items</a></li>
            <li><a data-toggle="tab" href="#post">Posts</a></li>
            <li><a data-toggle="tab" href="#branch">Branch</a></li>
            <li><a data-toggle="tab" href="#review">Reviews</a></li>
        </ul>

        <div class="tab-content">
            <div id="foodItem" class="tab-pane fade in active">
                <div class="container">
                   <!--<div class="newcont">-->

                    <h3>@ViewBag.restName 's Food Item List</h3>
                    <br />
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                    <table class="table table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Food Item Name </th>
                                <th>Item Picture</th>
                                <th>Other Info</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var foodItem in Model.foodItems)
                            {
                                <tr>
                                    <td align="left">@Html.DisplayFor(modelItem => foodItem.itemName)</td>
                                    <td><img src="@Url.Content(foodItem.itemPicture)" class="img-responsive" alt="Food Menu" width="150" height="150"></td>
                                    <td><P>@Html.DisplayFor(modelItem => foodItem.otherInfo)</P></td>
                                    <td>@Html.DisplayFor(modelItem => foodItem.itemPrice)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                   <!-- </div>-->
                </div>
            </div>
            <div id="post" class="tab-pane fade">
                <div class="container">
                    <div class="row">
                        <h3>@ViewBag.restName 's Post</h3>
                        <br />
                        @foreach (var post in Model.posts)
                        {
                            <div>
                                <h3>@Html.DisplayFor(modelItem => post.RestpostHeadline)</h3>
                                <h6>@Html.DisplayFor(modelItem => post.postDate)</h6>
                                <p>@Html.DisplayFor(modelItem => post.RestpostContent)</p>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div id="branch" class="tab-pane fade">
                <h2>@ViewBag.restName 's Branch</h2>
                <br />               
                <div class="container">
                    <div class="row">
                        @foreach (var branch in Model.branches)
                        {
                            <div class="col-md-4 col-sm-12">
                                <h3><strong>@Html.DisplayFor(modelItem => branch.branchName)</strong></h3>
                                <h5>Area Name : @Html.DisplayFor(modelItem => branch.branchArea)</h5>
                                <p>Address : @Html.DisplayFor(modelItem => branch.branchAddress)</p>
                                <a href="@branch.branchMap" target="blank"><strong>View in Google map</strong></a><br />
                                <h6>Hours : @Html.DisplayFor(modelItem => branch.branchOpenHour) - @Html.DisplayFor(modelItem => branch.branchCloseHour)</h6>
                                <h6>Contact Number : @Html.DisplayFor(modelItem => branch.branchPhoneNumber)</h6>
                            </div>
                        }
                    </div>
                </div>               
            </div>
            <div id="review" class="tab-pane fade">
                <div class="container" id="posts">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="page-header">
                                @if (ViewBag.logged == true)
                                {
                                    <div class="container">
                                        <div class="row">
                                            @using (Html.BeginForm("newReview", "Restaurant"))
                                            {
                                                <div class="form-group">
                                                    <table class="table table-striped" style="width:45%">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="2" align="center">
                                                                    <i class="fa fa-comment-o fa-2x" aria-hidden="true">Leave a Review:</i>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <input type="hidden" name="postId" value="@ViewBag.restID" />
                                                                    <input type="hidden" name="userId" value="@ViewBag.userID" />
                                                                    <textarea class="form-control" name="reviewContent" rows="4" required></textarea>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right" colspan="2">
                                                                    <input type="submit" class="btn btn-default" name="btnName" value="Submit" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <!--<div class="newcont">-->

                    <h3>@ViewBag.restName 's Review</h3>
                    <br />                    
                    @foreach(var item in Model.reviews)
                    {
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1">
                                    <div class="thumbnail">
                                        <img class="img-responsive user-photo" src="@Url.Content(item.UserPic)">
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong><a href="/User/OtherUsersProfile/@item.UserId">@Html.DisplayFor(modelItem => item.UserName)</a></strong> <span class="text-muted">reviewed on @Html.DisplayFor(modelItem => item.ReviewGivenDate)</span>
                                        </div>
                                        <div class="panel-body">
                                            <p>@Html.DisplayFor(modelItem => item.Content)</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    
                    }
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.js"></script>
    <!--<script src="~/Scripts/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>

    <script src="~/Scripts/jquery.sticky.js"></script>
    <script src="~/Scripts/jquery.backstretch.min.js"></script>

    <script src="~/Scripts/isotope.js"></script>
    <script src="~/Scripts/imagesloaded.min.js"></script>
    <script src="~/Scripts/nivo-lightbox.min.js"></script>

    <script src="~/Scripts/jquery.flexslider-min.js"></script>

    <script src="~/Scripts/jquery.parallax.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/wow.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/myScript.js"></script>

</body>
</html>

